.devices-sidebar {
    height: 100vh;
    width: 30rem; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    /* background-color: white; */
}

.spacer {
    height: 5rem;
}

.device-container {
    border: rgb(0, 167, 225) solid .15rem;
    margin: .2rem;
    background-color: white;
    border-radius: .2rem;
    height: 160px;
}

.device-container:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.device-status {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 2rem;
}

.device-status h1 {
    margin: 1.3rem 1rem;
    font-size: 1rem;
}

.offline {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 62, 62, 0.692) 0 2px 12px;
}

.online {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: auto;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}
