.devices-sidebar-hide,
.devices-sidebar-show {
    height: 100vh;
    position: fixed;
    width: .5rem;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
}

.devices-sidebar-show {
    width: 30.8rem;
}

.devices-sidebar-hide {
    width: .5rem;
}

.spacer {
    height: 5rem;
    background-color: none;
}

.device-sidebar-button-hide,
.device-sidebar-button-show {
    background-color: rgb(0, 167, 225);
    width: 4rem;
    height:10.4rem;
    right: 0;
    top: 5rem;
    margin: .2rem .5rem .3rem .2rem;
    border-radius: .2rem;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.281), 0 4px 8px rgba(0, 0, 0, 0.39);
    transition: 0.5s;
    cursor: pointer;
}

.device-sidebar-button-show {
    margin: .2rem 30.9rem .3rem .2rem;
}

.device-sidebar-button-hide {
    margin: .2rem .5rem .3rem .2rem;
}


.device-sidebar-button-hide p,
.device-sidebar-button-show p {
    transform: rotate(-90deg);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 4rem;
}

.device-container {
    border: rgb(0, 167, 225) solid .2rem;
    margin: .2rem;
    background-color: white;
    border-radius: .2rem;
    height: 160px;
    width: 30rem;
    transition: 1s;
}

.device-container:hover {
    background-color: rgb(206, 206, 206);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.281), 0 4px 8px rgba(0, 0, 0, 0.39);
}

.device-header h1 {
    font-size: 1.5rem;
    margin-left: .6rem;
}

.device-status {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    right: 1rem;
}

.device-status h1 {
    margin: 1.35rem 1rem;
    font-size: 1rem;
}

.device-info-button {
    padding: .5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 167, 225);
    text-align: center;
    margin: auto;
    margin-left: .5rem;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.281), 0 4px 8px rgba(0, 0, 0, 0.39);
    border-radius: .2rem;
    width: 5rem;
}

.device-info-button:hover {
    background-color: rgb(1, 153, 204);
}

.device-info-button p {
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
}

.offline {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 62, 62, 0.692) 0 2px 12px;
}

.online {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: auto;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.device-map-container {
    margin-top: 5rem;
}