.login-page {
    min-height: 100%;
    background-position: center;
    position: fixed;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-button {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 167, 225);
    font-size: 2rem;
    text-align: center;
    width: 10rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.281), 0 8px 16px rgba(0, 0, 0, 0.39);
    border-radius: .5rem;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(1, 153, 204);
}

.login-button p {
    margin: auto;
}

.name-logo {
    margin: 2rem;
}

.logo {
    margin: auto;
}